header {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--theme-color);
}

.icons {
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin-right: 20px;
}

header div {
  margin-left: auto;
  display: inline-flex;
}

.logo {
  width: 100px;
  height: 130px;
  background-size: cover;
  margin-left: 20px;
}

.profile_icon {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 750px) {
  .menu {
    display: block;
  }
}
@font-face {
  src: url("../fonts/SairaCondensed-Medium.ttf");
  font-family: "SairaCondensed";
}
:root {
  --theme-color: rgba(10, 99, 19, 1);
  --theme-color2: #007bff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

main {
  font-family: "SairaCondensed";
  font-size: 0.8em;
  position: relative;
  width: 100%;
  display: inline-flex;
}

.menu-options a {
  text-decoration: none;
}

.user_info {
  transition: width 0.5s ease-in-out;
  margin-right: 40px;
  position: relative;
  box-shadow: 2px 0 10px 1px var(--theme-color);
  width: 70px;
  min-width: 70px;
  font-size: 1.4em;
  height: 100%;
}

.user_info #description {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  height: 20px;
  width: 200px;
}

#description:hover {
  font-weight: bold;
  color: var(--theme-color);
  text-decoration: underline;
}

.user_info:hover {
  width: 200px;
}

@keyframes showIconNames {
  to {
    opacity: 1;
  }
}
.user_info:hover #description {
  display: block;
  visibility: visible;
  animation: showIconNames 0.3s forwards;
  animation-delay: 0.5s;
}

.user_info .active {
  font-weight: bold;
  color: var(--theme-color);
}

.user p {
  margin-right: 10px;
}

.user_info a {
  text-decoration: none;
  color: black;
}

.my_account,
.map,
.item_summary,
.withdraw_coins,
.settings,
.chats {
  display: inline-flex;
  margin: 10px 0 40px 0;
  width: 100%;
  padding-left: 20px;
}

i {
  width: 25px;
  font-size: large;
  height: auto;
  margin-right: 10px;
}

@media (max-width: 750px) {
  .user_info {
    display: none;
  }
  .menu-options {
    transition: width 0s ease-in-out;
    position: absolute;
    right: 0;
    margin-right: 0;
    background-color: var(--theme-color);
    height: 350px;
    width: 200px;
    z-index: 1;
  }
  #drop-down {
    list-style: none;
  }
  #drop-down a {
    align-items: center;
    height: 70px;
    margin: 0;
    font-size: 1.3em;
    border: 1px solid white;
  }
  .user_name,
  .user_info hr,
  .user_info br {
    display: none;
  }
  #drop-down i {
    width: 30px;
  }
  #drop-down #description {
    opacity: 1;
    color: white;
  }
}
main {
  width: 100%;
  display: inline-flex;
}

.withdraw_container {
  width: 70%;
}

.heading1 {
  padding-left: 20px;
  margin: 50px 0px 0px 50px;
}

.withdraw_window {
  margin: 25px 50px 50px 50px;
  height: 800px;
  border-radius: 25px;
  box-shadow: 2px 0 10px 1px grey;
}

.withdraw_container p {
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
}

.set_mode {
  padding-top: 30px;
  padding-bottom: 20px;
}

.heading2 {
  margin-left: 100px;
}

.heading2 a {
  color: var(--theme-color);
  padding-left: 10px;
  font-size: 1.3em;
  font-weight: bold;
}

button {
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 150px;
  height: 45px;
  margin: auto;
  font-size: 1.5em;
}

.withdraw_window .active {
  background-color: var(--theme-color);
  color: white;
}

.options {
  width: 60%;
  margin: 60px 20% 10px 20%;
  display: inline-flex;
  justify-content: center;
}

.options div {
  font-size: 1.5em;
  margin: auto;
}

.options .active {
  background-color: var(--theme-color);
  color: white;
}

.set_mode hr {
  height: 2px;
  background-color: black;
  margin: 20px 10% 20px 10%;
}

.withdrawal_methods .method {
  display: inline-flex;
  width: 90%;
  margin: 30px 20px 0 40px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 1px grey;
  height: 100px;
}

.withdrawal_methods .method .icon {
  margin: 20px 0px 20px 25px;
  min-width: 60px;
  height: 60px;
  display: grid;
  justify-content: center;
}

.withdrawal_methods i {
  display: block;
  font-size: 60px;
}

.withdrawal_methods .method #mpesa .m-pesa_icon {
  object-fit: contain;
  width: 60px;
  height: 60px;
}

.withdrawal_methods .descriptions {
  display: grid;
  align-items: center;
  margin: 20px 0 20px 0;
  min-width: fit-content;
  height: 60px;
  font-size: 1.3em;
  padding-left: 20px;
}

.withdrawal_methods .descriptions .account_type {
  font-weight: bold;
}

.withdrawal_methods .add_withrawal_option {
  margin: 50px 0 0 20%;
  background-color: var(--theme-color);
  color: white;
}

@media (max-width: 1000px) {
  .withdraw_container {
    width: 100%;
  }
  .options {
    width: 80%;
    margin: 60px 10% 10px 10%;
    justify-content: space-between;
  }
  .descriptions {
    width: 100px;
  }
  .method button {
    right: 0;
    min-width: 150px;
  }
}
@media (max-width: 750px) {
  .options {
    width: 100%;
    margin: 40px 0 10px 0;
  }
  .withdraw_window {
    position: relative;
    height: 1000px;
  }
  .withdrawal_methods {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  .withdrawal_methods .method {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    margin: 10px 10px;
  }
  .withdrawal_methods .method button {
    width: 60%;
    border: 1px solid;
    bottom: 0;
    position: absolute;
    margin: 20px 20% 20px 20%;
    /* width: 100%; */
  }
  .add_withrawal_option {
    position: absolute;
    bottom: 20px;
    width: 60%;
    margin: 0 auto;
  }
  .descriptions {
    width: 60%;
  }
}
footer {
  display: grid;
  width: 100%;
  height: 200px;
  background-color: var(--theme-color);
  align-items: center;
}

footer .call-to-action {
  position: absolute;
  font-family: "SairaCondensed";
  font-weight: bold;
  color: white;
  font-size: 2em;
  margin: 20px 0 0 100px;
}

.rights {
  height: 40px;
  text-align: center;
  color: white;
}

.rights a {
  color: white;
  font-size: 0.8em;
}

footer .socials {
  position: absolute;
  right: 0;
  height: 20px;
  margin: 40px 40px 0 0;
}

footer .socials i {
  margin: 0 10px;
  font-size: 1.5em;
  cursor: pointer;
}

@media (max-width: 750px) {
  footer {
    height: 230px;
    margin: 0;
    display: grid;
    justify-content: center;
  }
  footer .call-to-action {
    font-size: 1.7em;
    display: block;
    position: relative;
    text-align: center;
    margin: 0;
  }
  footer .socials {
    position: relative;
    text-align: center;
    margin: 10px 0;
  }
  footer .rights {
    margin: 0;
    width: 100%;
    text-align: center;
    height: fit-content;
  }
}

/*# sourceMappingURL=withdrawal.css.map */
